@import "./navbar";
@import "./fonts";
@import "./section";
@import "./form";

body {
  color: #111fff;
  background-color: whitesmoke;
  margin: auto;

  main {
    margin: 0 3vw 0 3vw;
  }

  footer {
    margin-top: 5vh;
    width: 100%;
    padding-top: 3vh;
    height: 4vh;
    vertical-align: middle;
    align-items: center;
    color: #111fff;
    background-color: whitesmoke;
    border-top: solid #111fff;
    border-width: 1px;
    p {
        margin: 0 0 0 2vw;
    }
  }
}
