@import './navbar';
@import './fonts';
@import './section';
@import './form';


body {
    
    color: whitesmoke;
    background-color: #111fff;

    .footerFull {

        width: 100%;
        position: absolute;
        color: yellowgreen;
        background-color: whitesmoke;
    }
    
}