nav {
  width: 100%;
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 3vw;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  display: inline-block;
  text-decoration: none;
  margin-right: 3rem;
  color: whitesmoke;
}

nav li a {
  color: whitesmoke;
}

nav img {
  width: 100px;
  vertical-align: middle;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
}

body h1 {
  font-weight: bold;
  font-size: 9vw;
}

body h1 span {
  font-weight: 300;
}

body li {
  text-transform: lowercase;
}

body a {
  font-weight: normal;
  font-size: 1rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body p {
  text-align: justify;
}

body select {
  font-size: 0.9 rem;
  font-family: 'Roboto Mono', monospace;
}

body input {
  font-size: 0.9 rem;
  font-family: 'Roboto Mono', monospace;
}

body button {
  font-size: 1 rem;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}

body .underline {
  background-image: linear-gradient(transparent calc(65% - 5px), #000cc4 5px);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline;
}

body .underline h1 {
  font-weight: bold;
  font-size: 9vw;
}

body .underline h1 span {
  font-weight: 300;
}

body .footer-text {
  font-size: 0.875rem;
}

.section {
  margin-top: 7vh;
}

::-webkit-input-placeholder {
  color: whitesmoke;
  opacity: 1;
}

:-ms-input-placeholder {
  color: whitesmoke;
  opacity: 1;
}

::-ms-input-placeholder {
  color: whitesmoke;
  opacity: 1;
}

::placeholder {
  color: whitesmoke;
  opacity: 1;
}

textarea {
  width: 100%;
  border: none;
  background-color: #111fff;
  resize: none;
  margin: 2vh 0 2vh 0;
  border-bottom: solid whitesmoke;
  border-bottom-width: 0.1rem;
}

input {
  border: none;
  width: 100%;
  background-color: #111fff;
  resize: none;
  margin: 2vh 0 2vh 0;
  border-bottom: solid whitesmoke;
  border-bottom-width: 0.1rem;
}

.personalData {
  width: 100%;
}

.form-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

select {
  width: 100%;
  border: none;
  color: whitesmoke;
  background-color: #111fff;
  resize: none;
  margin: 2vh 0 2vh 0;
}

select option {
  margin-top: 1vh;
  border-bottom: solid whitesmoke;
  border-bottom-width: 0.1rem;
}

button {
  width: 75%;
  border: solid whitesmoke;
  border-width: 0.1rem;
  background-color: #111fff;
  resize: none;
  padding: 1vh 0 1vh 0;
  color: whitesmoke;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  color: whitesmoke;
  background-color: #111fff;
  margin: auto;
}

body main {
  margin: 0 3vw 0 3vw;
}

body footer {
  margin-top: 5vh;
  width: 100%;
  padding-top: 3vh;
  height: 4vh;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111fff;
  background-color: whitesmoke;
}

body footer p {
  margin: 0 0 0 2vw;
}
/*# sourceMappingURL=styles.css.map */