@import "./navbar";
@import "./fonts";
@import "./section";
@import "./form";

body {
  color: whitesmoke;
  background-color: #111fff;
  margin: auto;

  main {
      margin-left: 2vw;
  }

  footer {
    margin-top: 5vh;
    width: 100%;
    padding-top: 3vh;
    height: 4vh;
    vertical-align: middle;
    align-items: center;
    color: #111fff;
    background-color: whitesmoke;
  }
}
